
.footer {
  background-color: transparent;
  padding: 2.5rem 3rem;
  position: relative;
  width: 100%;
  
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  /* Set the desired transparency value */
}

.footer-section {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px; /* Adjust the font size as desired */
  color: white; /* Adjust the font color as desired */
  text-transform: uppercase; /* Add text transformation for a stylish look */
  letter-spacing: 1px; /* Add letter spacing for better readability */
}


.footer-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.footer-logo-text {
  margin-left: 10px;
  font-weight: bold;
}

.footer-social {
  margin-top: 20px;
}

.footer-social-link {
  display: inline-block;
  color: #000;
  margin-right: 10px;
  font-size: 18px;
}

.footer-heading {
  font-weight: bold;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-list li {
  margin-bottom: 5px;
  
}

.footer-list li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.footer-text {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #888;
  
}
