.resource-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
}


.title {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
    bottom: 7em;
    right: 10.9em;
  }

.resource-text{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    padding: 1rem;
    border: 1px solid #000;
    flex: 1;
}