.bg{
  /* width: 100vw; */
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url(../Images/tuBg2.jpeg);
  background-size: cover; 

}

.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "Aktiv Grotesk", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fdfdfd;
  max-width: 30rem; /* Adjust the value to make the container wider */
  margin: 0 auto; /* Center the container horizontally */

  background-color: #2020209e;







  border-radius: 2%;


  margin-bottom: 35px;

  margin-top: 50px;

  
  border-bottom: 2px solid whitesmoke;
  box-sizing: border-box;



}

.signin-title {
  text-align: center;
  font-size: 24px;
  padding: 4rem;
  color: #ffffff;



}

.signin-form {
  padding: 20px;
}

.form-label {
  color: #ffffff;
}

.form-control {
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #555;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  background-color: #e0e0e0;
}

.form-control.is-invalid {
  background-color: #ffebee;
}

.form-control-feedback {
  color: #f44336;
  font-size: 12px;
}

.signin-signup-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-submit-btn:hover {
  background-color: #45a049;
}

.signin-reset-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-reset-btn:hover {
  background-color: #d32f2f;
}

.signin-signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff
}

.signin-signup-link .signin-signup-btn {
  background-color: transparent;
  color: #555;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 3px;
}

.signin-signup-link .signin-signup-btn:hover {
  color: #ffcc00;
}


/* Custom styles to adjust form layout */
.signin-form .row {
  display: flex;
  align-items: flex-start;
}

.signin-form .col {
  flex-basis: 100%;
}

.signin-form .form-group {
  margin-bottom: 15px;
}
