.resource-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
}

.p-text{
    position: relative;
    bottom: 7em;
    right: 18em;
    font-size: 32px;
    font-weight: 400;
  }


.cyber-image{
  position: relative;
    width: 250px;
    height: 250px;
}


.title {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
    bottom: 4em;
    right: 10.9em;
  }

.resource-text{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    padding: 1rem;
    border: 1px solid #000;
}

.resource-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
    padding: 2px;
    margin: 10px;
    
}

.arrow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.arrow-icon {
  font-size: 5rem;
  border: none;
  padding: 0;
  margin: 0;
  
}

