.resource-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.p-text {
  position: relative;
  bottom: 9em;
  right: 18em;
  font-size: 32px;
  font-weight: 400;
}

.title {
  position: relative;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  bottom: 5em;
  right: 10.9em;
}

.resource-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2px;
  margin: 10px;
  bottom: 10em;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.arrow-icon {
  font-size: 5rem;
  border: none;
  padding: 0;
  margin: 0;
}

.box-container {
  display: flex;
  align-items: center;
}

.cyber-image {
  width: 350px;
  height: 350px;
  margin: 10px;
  background-size: 120%;
  background-position: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.cyber-image.active {
  border-color: red; /* Add your desired overlay color here */
}


@media screen and (max-width: 768px) {
  .p-text {
    bottom: 0;
    right: 0;
  }

  .title {
    bottom: 2em;
    right: 0;
    font-size: 48px;
  }

  .arrow-icon {
    font-size: 3rem;
  }

  .box-container {
    flex-direction: column;
  }

  .cyber-image {
    width: 150px;
    height: 150px;
  }
  .resource-container{
    position: relative;;
    padding: 0;
    width: 150px;
    height: 150px;
    bottom: 10em;

  }
  
  
}
@media screen and (max-width: 1440px) {
  .p-text {
    bottom: 0;
    right: 0;
  }

  .title {
    bottom: 2em;
    right: 0;
    font-size: 48px;
  }

  .arrow-icon {
    font-size: 3rem;
  }

  .box-container {
    flex-direction: column;
  }

  .cyber-image {
    width: 250px;
    height: 250px;
  }
  
  
}

@media screen and (max-width: 1600px) {
  .p-text {
    bottom: 0;
    right: 0;
  }

  .title {
    bottom: 2em;
    right: 0;
    font-size: 48px;
  }

  .arrow-icon {
    font-size: 3rem;
  }

  .box-container {
    flex-direction: column;
  }

  .cyber-image {
    width: 250px;
    height: 250px;
  }
  
  
}

@media screen and (max-width: 1366px) {
  .p-text {
    bottom: 0;
    right: 0;
  }

  .title {
    bottom: 2em;
    right: 0;
    font-size: 48px;
  }

  .arrow-icon {
    font-size: 3rem;
  }

  .box-container {
    flex-direction: column;
  }

  .cyber-image {
    width: 250px;
    height: 250px;
  }
  
  
}
@media screen and (max-width: 1280px) {
  .p-text {
    bottom: 0;
    right: 0;
  }

  .title {
    bottom: 2em;
    right: 0;
    font-size: 48px;
  }

  .arrow-icon {
    font-size: 3rem;
  }

  .box-container {
    flex-direction: column;
  }

  .cyber-image {
    width: 150px;
    height: 150px;
  }
  
  
}



