/*Nav Bar*/
.nav {
    position: fixed;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.logo {
    margin-top: 10px;
    position: relative;
    bottom: 6rem;
    right: -1rem;
    width: 150px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px; /* Add some right margin for spacing */
    
  }
/* Media breakpoint for logo */
@media screen and (max-width: 768px) {
    .logo {
      width: 100px; 
      margin-right: 20px; 
      
    }
  }
.site-title {
    font-size: 1.5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/*Controlls the font/text*/
.nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .25rem;
    font-weight: 1000;
}

.nav li:hover {
   
}
