/* General styles */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.about-title {
  position: relative;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  bottom: 1.7em;
  right: 7.4em;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid #ffffff;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-text {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  padding: 1rem;
  border: 1px solid #000;
  flex: 1;
}

.text {
  position: relative;
  line-height: 1;
  font-size: 20px;
  max-width: 90%;
  max-height: 90%;
  bottom: 5em;
  right: 5em;
}

/* About-info */
.about-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  margin: 1rem;
  text-align: center;
  border: 1px solid #000000;
  padding: 1rem;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.images {
  position: relative;
  width: 400px;
  height: 400px;
  /*animation: floatAnimation 3s ease-in-out infinite;*/
}

.h3 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 20px;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive design breakpoints */
@media screen and (max-width: 768px) {
  /* Tablets and smaller */
  .about-title {
    font-size: 26px;
    /* ... Adjust other properties as needed ... */
  }

  .about-text {
    font-size: 16px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
  }

  .text {
    font-size: 14px;
    bottom: 2em;
    right: 2em;
  }

  .about-info {
    flex-direction: column;
  }

  .layout {
    width: 80%;
    margin: 0.5rem;
  }

  .images {
    width: 230px;
    height: 230px;
  }

  /* Add any other styles for smaller screens here */
}

@media screen and (max-width: 480px) {
  /* Phones and smaller */
  .about-title {
    font-size: 36px;
   
  }

  .about-text {
    font-size: 14px;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    /* Stack the .about-text items in a column */
  }

  .text {
    font-size: 12px;
    bottom: 1em;
    right: 1em;
  }

  .about-info {
    flex-direction: column;
  }

  .layout {
    width: 90%;
   
  }

  .images {
    width: 200px;
    height: 200px;
  }

  
}
