/* General styles */

.page-intro p.intro {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  margin-bottom: 40px;
}

.page-intro p.intro span {
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
}

h1 {
  font-family: kandal, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.375rem;
  line-height: 3.75rem;
  color: #000;
  margin-bottom: 16px;
  letter-spacing: 0.001em;
}

.containers {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
}

.block {
  max-width: 708px;
  width: 100%;
  display: inline-block;

  padding-top: 95px;
  padding-bottom: 30px;
}

.full-width .background {
  padding: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
