.custom-calendar .fc-header-toolbar {
  font-size: 0.8rem;
}

.custom-calendar .fc-button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.custom-calendar .fc-toolbar-chunk {
  margin-right: 0.25rem;
}
